In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Definir o Contexto do Problema:

In [2]:
#Definir o Contexto do Problema:
    #Qual é a natureza do problema?
        # a natureza desse problema é identificar e classificar transações financeira em legitimas e fraudes com base nos padrões dos dados.
    #Qual é o impacto das fraudes?
        # o impacto das fraudes é alto, ja que causa prejuiços financeiros as instituições financeira e traz transtorno e desconforto ao cliente
        # uma detecção eficiente reduz o prejuizo e o transtorno além de aumentar a comfiança do cliente.


#Estabelecer os Objetivos:
    #Objetivo Geral:
        # O objetivo é conseguir identificar padrões em transações fraudelentas e afim de conseguir bloquear elas com a menor taxa de erro.
    #Objetivos Específicos:
        #Realizar uma análise exploratória descritiva para identificar padrões em transações e, a partir dos insights obtidos,
        #desenvolver um modelo de classificação que maximize a precisão na identificação dessas transações fraudulentas.
        #Avaliar o desempenho dos modelos de classificação utilizando métricas como acurácia, precisão, recall e F1-score,
        #para garantir que o modelo atenda aos critérios de sucesso definidos. 


#Requisitos e Restrições:
    #Quais dados estão disponíveis?
        #train_transaction, tem informações sobre as transações financeiras realizada pelo cliente 
        #train_identity, tem informações mais especifica sobre a caracteristica do cliente
    #Restrições de tempo e recursos

#Compreensão dos Stakeholders
    #Quem são os interessados no projeto?
    #O que eles consideram sucesso?

#Levantamento de Hipóteses:
    #Quais hipóteses iniciais você pode formular?
        #Transações fraudulentas tendem a apresentar padrões de comportamento diferentes em comparação com transações legítimas.
        #Transações fraudulentas ocorrem com mais frequência em determinados horários ou dias da semana?
        #Transações fraudulentas geralmente têm valores mais altos ou mais baixos do que as transações legítimas?
        #Existe variação no valor debitado e recebido nas fraude ou nas legítmas, algum tipo de taxa ?
        #Existem correlações entre características específicas das transações e a probabilidade de fraude.

# Exploração e análise de dados (EDA)

### Carregamento e Visualização Inicial dos Dados

In [3]:
df = pd.read_csv(r"C:\Users\jrfer\Documents\repositorio\projeto_02\dados\dados.csv")

In [4]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

step: Número de horas desde o início da simulação. Representa o tempo relativo em que as transações ocorrem.
type: O tipo de transação que está sendo feita. Pode incluir:
CASH-IN: Depósito em dinheiro.
CASH-OUT: Saque em dinheiro.
DEBIT: Débito de uma conta.
PAYMENT: Pagamento de serviços ou bens.
TRANSFER: Transferência de fundos entre contas.
amount: O valor da transação.
nameOrig: Identificador da conta de origem (a conta que está enviando o dinheiro).
oldbalanceOrg: Saldo na conta de origem antes da transação.
newbalanceOrig: Saldo na conta de origem após a transação.
nameDest: Identificador da conta de destino (a conta que está recebendo o dinheiro).
oldbalanceDest: Saldo na conta de destino antes da transação.
newbalanceDest: Saldo na conta de destino após a transação.
isFraud: A variável alvo indicando se a transação foi fraudulenta (1 = fraude, 0 = não fraude). Representa tentativas de fraude simuladas.
isFlaggedFraud: Indica se a transação foi sinalizada por exceder um limite específico (geralmente, quando tentam transferir grandes quantias em uma única transação).

### Verificação de Tipos de Dados

In [5]:
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

### Análise Descritiva

In [6]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

ANALISANDO OS TIPOS DE TRANSAÇÕES

Neste projeto, estamos explorando os tipos de transações que apresentam os maiores valores e identificando quais desses tipos estão mais frequentemente associados a fraudes. Em nossa análise, diferenciamos entre duas categorias: Fraud, que indica uma tentativa de fraude, e FlaggedFraud, que se refere a transações que tentam movimentar quantias superiores ao limite especificado. Essa investigação é crucial para entender melhor os padrões de comportamento fraudulentos e aprimorar as medidas de prevenção.

In [7]:
dados_pivo = pd.pivot_table(df, index = 'type', values = ['amount', 'isFraud', 'isFlaggedFraud'], aggfunc=['sum', 'std'])
paleta = sns.light_palette("red", as_cmap=True)
dados_pivo.style.background_gradient(cmap=paleta)

"As transações com os maiores valores movimentados concentram-se nas categorias Transfer, Cash_out e Cash_in. Observamos que todas as tentas de fraude (isFraud) ocorreram no tipo Cash_out, enquanto as transações sinalizadas como suspeitas (isFlaggedFraud) estavam exclusivamente no tipo Transfer.

Esses dados indicam que as fraudes se manifestam principalmente nos dois tipos de transações mais comuns, sugerindo que essas categorias são especialmente vulneráveis e requerem monitoramento cuidadoso."

ANALISANDO DIFERENÇAS NO VALORES TRANSFERIDOS, POSSÍVEIS TAXAS

Alguns valores movimentados 'amount' apresentam uma difereça do valor 'oldbalanceOrg - newbalanceOrig' que é o valor que realmente saiu o entrou na conta do cliente, esse valore pode identificar algum tipo de taxa.

Vamos verificar se a presença desse valor de possivel taxa tem algum tipo de relação com as fraudes.

In [8]:
df['taxa'] = (abs(round(df['amount'])) - (abs(round(df['oldbalanceOrg'] - df['newbalanceOrig']))) ) != 0
df['taxa'] = df['taxa'].astype(int)
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,taxa
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,0

In [9]:
df_group = df.groupby(['taxa','isFraud']).size().reset_index(name='count')
df_group

   taxa  isFraud    count
0     0        0  2749180
1     0        1     8168
2     1        0  3605227
3     1        1       45

Analisando essa tabela podemos ver que nos dados onde existem taxa o numero de fraudes é menor, isso talvez não
signifique uma relação porém seria interessante deixar essa coluna de taxa para o modelo analisar e vericaremos depois
se exitem melhora ou piora na avaliação

In [10]:
df_group = df.groupby(['taxa','isFlaggedFraud']).size().reset_index(name='count')
df_group

   taxa  isFlaggedFraud    count
0     0               0  2757348
1     1               0  3605256
2     1               1       16

Diferente de isFraud a variavel isFlaggedFraud tem um comportamento oposto, os dados que não possuem taxas não tem tem uma movimentação suspeita.